* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

.header {
  padding: 0 8%;
  background: #043873;
  background-image: url(../../images/Element.png);
  background-repeat: no-repeat;
  background-position: 20% 120%;
  background-size: 2000px 600px;
}
.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
}
.header .header__nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}
.header .header__nav .logo img {
  width: 35px;
}
.header .header__nav .nav__list {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.header .header__nav .nav__list .nav__links {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .header__nav .nav__list .nav__links li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
.header .header__nav .nav__list .nav__links li a i {
  font-size: 0.5rem;
}
.header .header__nav .nav__list .buttons {
  display: flex;
  gap: 1rem;
}
.header .header__nav .nav__list .buttons .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background: #4f9cf9;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background: #ffe492;
  color: #212529;
}
.header .header__nav .nav__list .buttons .btn i {
  font-size: 0.8rem;
}
.header .header__nav .nav__list .buttons .btn:hover {
  opacity: 0.9;
}
.header .header__nav .nav__list .buttons .blue__btn {
  background: #4f9cf9;
  color: #fff;
}
.header .header__nav .menu__icon {
  display: none;
}
.header .header__nav .exit__btn {
  display: none;
}
.header .header__nav .buttons-menuIcon {
  display: none;
}
.header .header__nav .buttons {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header {
    background-position: 20% 30%;
    background-size: 2000px 400px;
  }
  .header .header__nav .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #043873;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.5s;
  }
  .header .header__nav .nav__list .nav__links {
    flex-direction: column;
    width: 100%;
  }
  .header .header__nav .nav__list .nav__links li {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 0.3rem;
    transition: all 0.3s;
  }
  .header .header__nav .nav__list .nav__links li:hover {
    background: #4f9cf9;
  }
  .header .header__nav .nav__list .nav__links li a {
    font-size: 1.2rem;
  }
  .header .header__nav .nav__list .buttons {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .header .header__nav .nav__list .exit__btn {
    display: block;
    position: absolute;
    top: 2%;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
  }
  .header .header__nav .nav__list.active {
    transform: translateX(0);
  }
  .header .header__nav .menu__icon {
    display: block;
    font-size: 2.2rem;
    color: #fff;
  }
  .header .header__nav .buttons-menuIcon {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header .header__nav .buttons-menuIcon .buttons {
    display: flex;
    gap: 1rem;
  }
  .header .header__nav .buttons-menuIcon .buttons .btn {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    background: #4f9cf9;
    border-radius: 0.4rem;
    border: none;
    color: #fff;
    white-space: nowrap;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    color: #000;
    background: #ffe492;
  }
  .header .header__nav .buttons-menuIcon .buttons .btn i {
    font-size: 0.8rem;
  }
  .header .header__nav .buttons-menuIcon .buttons .blue__btn {
    background: #4f9cf9;
    color: #fff;
  }
}
@media screen and (max-width: 840px) {
  .header {
    background-position: 20% 30%;
    background-size: 1000px 400px;
  }
  .header .header__nav .nav__list {
    width: 50%;
  }
  .header .header__nav .nav__list .buttons {
    display: flex;
  }
  .header .header__nav .buttons-menuIcon .buttons {
    display: none;
  }
}
@media screen and (max-width: 430px) {
  .header .header__nav .nav__list {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

.hero__section {
  padding: 6rem 0;
}
.hero__section .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.hero__section .container .hero__info {
  width: 50%;
  color: #fff;
}
.hero__section .container .hero__info .hero__title {
  font-size: 3.5rem;
}
.hero__section .container .hero__info p {
  font-size: 1.1rem;
  margin: 1rem 0 2rem 0;
  line-height: 1.4;
}
.hero__section .container .hero__info .btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background: #4f9cf9;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.hero__section .container .hero__info .btn i {
  font-size: 0.8rem;
}
.hero__section .container .hero__img {
  width: 50%;
  height: 500px;
  background: #c4defd;
}

@media screen and (max-width: 840px) {
  .hero__section .container {
    flex-direction: column;
    gap: 4rem;
  }
  .hero__section .container .hero__info {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  .hero__section .container .hero__info .btn {
    width: fit-content;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
  }
  .hero__section .container .hero__img {
    width: 100%;
    height: 400px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

.section__choose-your-plan {
  width: 100%;
}
.section__choose-your-plan .seciton__choose-your-plan-title {
  width: 100%;
  position: relative;
}
.section__choose-your-plan .seciton__choose-your-plan-title h2 {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  color: #212529;
}
.section__choose-your-plan .seciton__choose-your-plan-title img {
  width: 334px;
  position: absolute;
  left: 50%;
  bottom: 83px;
  z-index: -1;
}
.section__choose-your-plan .seciton__choose-your-plan-title p {
  margin-top: 24px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
}
.section__choose-your-plan .section__choose-your-plan-fee {
  margin-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.section__choose-your-plan .section__choose-your-plan-fee .free {
  border: 1px solid #FFE492;
  border-radius: 10px;
  width: 400px;
  height: 744px;
  padding: 40px 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__choose-your-plan .section__choose-your-plan-fee .free b {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.section__choose-your-plan .section__choose-your-plan-fee .free h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.section__choose-your-plan .section__choose-your-plan-fee .free span {
  display: flex;
  gap: 19px;
  margin-top: 28px;
}
.section__choose-your-plan .section__choose-your-plan-fee .free .free-btn {
  margin-top: 25px;
  width: 166px;
  height: 55px;
  border-color: #FFE492;
  border-style: solid;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal {
  width: 450px;
  height: 800px;
  background: #043873;
  border-radius: 10px;
  padding: 70px 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal b {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #fff;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal p {
  color: #fff;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
  color: #FFE492;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal span {
  display: flex;
  gap: 19px;
  margin-top: 28px;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal span p {
  color: #fff;
}
.section__choose-your-plan .section__choose-your-plan-fee .personal .personal-btn {
  margin-top: 25px;
  width: 166px;
  height: 55px;
  border-radius: 8px;
  background: #4F9CF9;
  color: #fff;
  border: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.section__choose-your-plan .section__choose-your-plan-fee .organization {
  border: 1px solid #FFE492;
  border-radius: 10px;
  width: 400px;
  height: 744px;
  padding: 40px 44px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.section__choose-your-plan .section__choose-your-plan-fee .organization b {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
.section__choose-your-plan .section__choose-your-plan-fee .organization h3 {
  font-size: 34px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.72px;
}
.section__choose-your-plan .section__choose-your-plan-fee .organization span {
  display: flex;
  gap: 19px;
  margin-top: 28px;
}
.section__choose-your-plan .section__choose-your-plan-fee .organization .free-btn {
  margin-top: 25px;
  width: 166px;
  height: 55px;
  border-color: #FFE492;
  border-style: solid;
  border-radius: 8px;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 1152px) {
  .section__choose-your-plan {
    width: 100%;
    height: 100%;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title {
    width: 100%;
  }
  .section__choose-your-plan .section__choose-your-plan-fee {
    width: 100%;
    height: 100%;
  }
  .section__choose-your-plan .section__choose-your-plan-fee .section-fee {
    width: 100%;
    height: 850px;
  }
  .section__your-work {
    width: 100%;
    background-image: none;
  }
  .section__your-work .section__your-work-title {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .section__choose-your-plan {
    width: 100%;
    height: 100%;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title h2 {
    font-size: 54px;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title img {
    width: 232px;
    bottom: 113px;
  }
  .section__choose-your-plan .section__choose-your-plan-fee {
    width: 100%;
    height: 100%;
    display: inline-block;
  }
  .section__choose-your-plan .section__choose-your-plan-fee .section-fee {
    margin: 0 auto;
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .section__choose-your-plan .section__choose-your-plan-fee .free {
    display: none;
  }
  .section__choose-your-plan .section__choose-your-plan-fee .organization {
    display: none;
  }
  .section__your-work {
    position: relative;
    width: 100%;
  }
  .section__your-work img {
    position: absolute;
    bottom: 32px;
  }
}
@media screen and (max-width: 320px) {
  .section__choose-your-plan {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title h2 {
    font-size: 32px;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title img {
    width: 150px;
    bottom: 177px;
  }
  .section__choose-your-plan .seciton__choose-your-plan-title p {
    font-size: 18px;
  }
  .section__choose-your-plan .section__choose-your-plan-fee {
    width: 100%;
    height: 100%;
  }
  .section__choose-your-plan .section__choose-your-plan-fee .section-fee {
    width: 300px;
    height: 100%;
  }
  .section__your-work {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .section__your-work .section__your-work-title {
    font-size: 36px;
  }
  .section__your-work img {
    width: 100%;
    position: absolute;
    right: 20%;
    display: none;
  }
}
.section__your-work {
  margin-top: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 574px;
  border: 1px solid;
  background-color: #043873;
  background-image: url(../../images/Groupline.svg);
  background-repeat: no-repeat;
  background-position: 0px -150px;
  position: relative;
}
.section__your-work .section__your-work-title {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.44px;
  text-align: center;
  margin-bottom: 24px;
}
.section__your-work img {
  position: absolute;
  left: 65%;
  bottom: 346px;
}
.section__your-work p {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.36px;
  text-align: center;
}
.section__your-work .your-work-btn {
  margin-top: 60px;
  border-radius: 8px;
  background: #4F9CF9;
  padding: 20px 40px;
  border-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
}

header {
  height: 100%;
}

section {
  padding: 4rem 8%;
}

/*# sourceMappingURL=main.css.map */
