 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

// Colors
$primaryColor: #043873;
$secondaryColor: #4f9cf9;
$yellowColor: #ffe492;
$imgColor: #c4defd;
$textColor:#212529;


.container {
  max-width: 1440px;
  width: 100%;
}

header {
    height: 100%;
}

@mixin btn {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background: $secondaryColor;
  border-radius: 0.4rem;
  border: none;
  color: #fff;
  white-space: nowrap;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  i {
    font-size: 0.8rem;
  }
}
